@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Dark: #0e1010;
  --Dark-Elevated: #1d1d1d;
  --Border: #2b2d2d;
  --Text: #aeb2ba;
  --Accent: #2cffbf;
}

body {
  background-color: var(--Dark);
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.03em;
  line-height: 1.2em;
}

p {
  color: var(--Text);
  letter-spacing: -0.01em;
  line-height: 1.6em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blog-post-item {
  transition: transform 0.3s ease-out;
  transform: translateX(0);
}

.blog-post-item:hover {
  transform: translateX(8px);
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-33.33%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-33.33%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up {
  animation: scrollUp 30s linear infinite;
}

.animate-scroll-down {
  animation: scrollDown 30s linear infinite;
}
